{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container-fluid col-12">
        <p class="m">
            <Span><a class="text-decoration-none link-dark" href="index.html">Home </a></Span>/
            <span><a> Groupes Féminins </a></span>/
            <span><a class="text-decoration-none link-dark" href="categorie.html"> Groupe 1 </a></span>/
            <span class="fw-bold">Produit 1</span>
        </p>
        <div class="row">
            <div class="col-5 my-5 ms-5">
                <img src="{{asset('img/produits/{{produit.picture}}')}}" class="d-block w-100" alt="">
            </div>
            <div class="col my-5 ms-5 bg-light">
                <h1 class="ms-3 mt-3"></h1>
                <p class="fs-1 ms-3 mt-3">{{produit.price}} €</p>
                <p class="fs-2 ms-3 mt-3">Description :</p>
                <p class="ms-3">{{produit.description}}</p>
                <div class="text-center">
                    <button type="button"class="btn btn-secondary btn-lg ms-3 mt-4">
                        Ajouter au panier
                    </button>
                </div>
            
            </div>
        </div>
    </div>
{% endblock %}