{% extends 'base.html.twig' %}

{% block title %}{{ rubrique.name }}{% endblock %}

{% block body %}
<div class="container-fluid col-12">
        <h1 class="text-center m-2 mb-3">{{ rubrique.name }}</h1>
        <div class="row">
            <div class="container-fluid col-12 bg-light mb-5">
                <div class="row">
                    <p class="text-center mt-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.<br>
                        Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.<br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.<br>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.<br>
                    </p>
                </div>
            </div>
			{% for sous_rubrique in rubrique.sousRubriques %}
            <div class="col-sm-6 col-xl-3">
                <a class="text-decoration-none link-dark" href="{{path('app_sous_rubrique_show', {'id': sous_rubrique.id}) }}">
                <div class="text-center m-3"><img src="" class="d-block w-100" alt="..."></div>
                <p class="text-center">{{sous_rubrique.name}}</p>
                </a>
            </div>
			{% endfor %}
        </div>
    </div>

{% endblock %}